/* Stylesheet comments here */

@import url('css/simple-sidebar.css');

body {
    text-align: center;
    height:100vh;
}

.song {
    margin: 1vh;
    width: 25vh;
    height: 25vh;
    outline: 1px solid;
    vertical-align: top;
    display: inline-block;
    background-size: 100% 100%;
    background-color: gray;
}

main {
    padding-top: 10vh;
    padding-bottom: 6vh;
    display: block;
}

#content {
    padding-left: 5%;
    padding-right: 5%;
}
