/* Stylesheet comments here */

@import url('css/simple-sidebar.css');

body {
    text-align: center;
    height:100vh;
}

.song {
    margin: 1vh;
    width: 25vh;
    height: 25vh;
    outline: 1px solid;
    vertical-align: top;
    display: inline-block;
    background-size: 100% 100%;
    background-color: gray;
}

main {
    background-color:  #cccccc;
    height: 100vh;

}

.song h1,
.song h2,
.song h3,
.song h4,
.song h5,
.song h6 {
    color: white;
}

.stroke {
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}
#wrapper {
    padding-top: 50px;
}
#content {
    padding-top: 3vh;
    padding-left: 5%;
    padding-right: 5%;
    background-color:  #cccccc;

}

.wpadminbar-bootstrap {
    margin-top: 32px !important;
}
